body 
{
    background-color: linen;
    font-family:  serif;
    font-style: oblique;
    color: brown;
}

h1
{
    font-size: 56px;
    margin: 0 auto;
    text-align: center;
}

h2
{
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
}



#aMainLinks
{
    margin: auto;
    text-align: center;
    font-size: 36px;
    width: 400px;
    height: 400px;
    vertical-align: middle;
    //background-color: white;
    //vertical-align: middle;
}

#spMainlinks
{
    //display: inline-block;
    vertical-align: middle;
    line-height: normal; 
    margin-top: 200px;
}

h3
{
    font-size: 46px;
    margin: 0 auto;
    text-align: center;
}

nav
{
    background-color: brown;
    margin: auto;
    height:  65px;
    text-align: center;
    font-size: 36px;
    
}

nav a:visited
{
    color: khaki;
    
}

a:visited
{
    
    
}


nav a:link
{
   color: aliceblue; 
    
}

nav a:hover
{
   color: linen;
    
}

a:link
{
    
    
}

table
{
    margin: 0 auto;
    
}

th
{
    color: linen;
    background-color: brown;
}

.frmInput
{
    width: 450px;    
    //background-color: white;
    margin: 0 auto;
}

.frmAddPg
{
    width: 200px;
    margin: 0 auto;
    background: none;
    border: none; 
    padding: 0;
    font: inherit;
    color: blue;
    /*border is optional*/
    //border-bottom:1px solid #444; 
    cursor: pointer;
}

.sbmtAdd
{
    width: 200px;
    margin: 0 auto;
    background: none;
    border: none; 
    padding: 0;
    font: inherit;
    /*border is optional*/
    color: blue;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

input
{
    
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

